# Podstawowe pliki systemowe
.DS_Store
*.iml
*.hprof
.idea/
*.swp

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
/android/.gradle/
/android/app/build/
/android/local.properties
/android/.idea/
/android/gradle/wrapper/gradle-wrapper.properties

# iOS/macOS
ios/Flutter/Generated.xcconfig
ios/Pods/
/ios/.symlinks/
/ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/build/
macos/Pods/
/macos/build/

# Linux
linux/flutter/ephemeral/
linux/build/

# Windows
windows/flutter/ephemeral/
windows/build/

# Web
web/.dart_tool/
/web/build/

# Firebase
.firebase/
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Konfiguracja VS Code i IntelliJ/Android Studio
.vscode/
.idea/workspace.xml
.idea/libraries/
.idea/tasks.xml
.idea/gradle.xml
.idea/modules.xml
.idea/.name
*.ipr
*.iws
*.bak
*.tmp

# Pliki tymczasowe i cache
*.log
*.tmp
*.bak
*.lock
*.temp

# Pliki do testów i eksperymentów
/test/.flutter-plugins
/test/build/
coverage/

# Specjalne dla systemu Windows
*.exe
*.dll
*.bat
*.cmd
Thumbs.db

# Specjalne dla systemu Linux/Mac
*.out
